@import '../../colors.scss';

.TodoItem {
	$root: '.TodoItem';

	position: relative;

	padding: 24px;
	padding-bottom: 31px;

	background-color: $white;
	border-radius: 10px;
	cursor: pointer;

	&__title,
	&__text {
		pointer-events: none;
	}

	&:hover {
		#{$root}__title {
			color: $blue2;
		}
	}

	&_completed {
		#{$root}__title {
			color: $light-gray2;
			text-decoration: line-through $light-gray2;
		}

		&:hover {
			#{$root}__title {
				color: $light-gray2;
			}
		}
	}

	&__title {
		position: relative;

		max-width: max-content;
		padding-bottom: 17px;
		margin-right: 60px;

		color: $blue3;
		font-size: 24px;
		font-weight: 400;
		line-height: 130%;
		text-decoration: line-through transparent;

		border-bottom: 1px solid $light-gray1;

		transition: color .6s, text-decoration .6s;

		&::after {
			content: '';

			position: absolute;
			left: 0;
			top: 50%;

			display: block;
			height: 1px;
			width: 100%;

			background-color: transparent;

			transition: background-color .3s;
		}

		&:hover {
			color: $blue2;
		}

		@media (max-width: 767px) {
			font-size: 20px;
		}
	}

	&__text {
		padding-top: 10px;
		max-width: 734px;

		color: $blue3;
		font-size: 16px;
		font-weight: 400;
		line-height: 175%;
		letter-spacing: 0.15px;
	}

	&__svg {
		position: absolute;
		z-index: 4;
		right: 24px;
		top: 27px;

		* {
			pointer-events: none;
		}
	}
}